<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HOUSE OF KILLING presents</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="//db.onlinewebfonts.com/c/0b7d8a39b62b28cf0cfe3cea90b8baa3?family=Gabriel+Weiss'+Friends+Font" rel="stylesheet" type="text/css"/>

        <meta http-equiv="Refresh" content="0; URL=https://www.houseofkilling.com/">


    </head>
    <body>
        <main>

            <!-- <img id="frame" src="../frame.png"> -->
                {{{body}}}

        </main>

        <!-- <footer> <a id="houseofkillinghome" href="http://houseofkilling.com/"> 🌈🌈 have a nice day xoxo Esben Holk🌈🌈 </a> </footer> -->



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>
