<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HOUSE OF KILLING</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="archivestyle.css">
		<style>

		</style>
	</head>
	<body>
		<div id="blocker">

			<div id="instructions">

				Check out the HOUSE OF KILLING project archive™<br/>

				<span class="play">Click to play</span>
				<br /><br />
				Move: WASD<br/>
				Jump: SPACE<br/>
				Look: MOUSE<br/>
                escape: ESC


			</div>
		</div>

<script type="module">
let data = [
  {
    "name": "Jennifer Aniston Superfans",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/tarotcardreader.png",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/tarotcardreader2.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/tarotcardsontable.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/tarotreading.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/+++.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/IMG_2130.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/IMG_2156.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/iheartberlinevent1.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/iheartberlinevent3.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/aniston/fan2ficballhaus0572rohmk.jpg"
    ],
    "videos": ["https://www.youtube.com/embed/rccPlt1kByE"],
    "descriptions": "JENNIFER ANISTON SUPERFANS presented by HOUSE OF KILLING feat Esben Holk, 2018 onwards. JENNIFER ANISTON SUPERFANS is an ongoing research project. It uses a preconceived fandom of Jennifer Aniston as basis for the continuous production and dissemination of semi real and unreal content. It becomes an intervention in algorithmic content redistribution: trolling the surveillance apparatus by subverting the search for meaning and adopting connotational cultural reference into the production of uncertainty. Jennifer Aniston as medium is invited to occupy digital space and to become, for a growing group of artists and other practitioners, the posthuman cyborgian hybrid of content, medium, platform and content generator. The superfans in the art project and on the facebook-group number almost 630 people, and include IRL art collaborations with work by Maansi Jain, Cara Lien, Sean Pinearo, Sophie Harkins and Jens Lovgren. With tarotcards, spiritual readings, lifecoaching, video, performance and installation: The superfans are creating mythology!",
    "locations": [
      "The Church of Jennifer Aniston, w/ PrettyUgly, @Salon zur Wilde Renate, may 2018, Berlin.",
      "The Revenge of Jennifer Aniston (the one where she kills Ross), w/ Venganza, @Riot Ipse, june 2018,Berlin",
      "TedX: How to absorb the ontological uncertainty of Jennifer Aniston into you life TM, performance @ panke.gallery, june 2018, Berlin",
      "Jennifer Aniston Superfans solo, @Retramp Gallery, Berlin, february 2019.",
      "-.- w/ FanFic Festival, curated by Virtual Theater, @Ballhaus Ost, Berlin March 2019.",
      "-.- w/ Fanfiction, curated by Bad Art Presents, @Dog & Bone, London, March 2019.",
      "Jennifer Aniston Superfans Tarot Reading @ IHEARTBERLIN, december 2019, Bikini Berlin",
      "UPCOMING: Jennifer Aniston Superfans Livestream w/ BLA CONNECT, curated by Sakrowski, june 2020 Los Angeles"
    ],
    "class": "aniston"
  },
  {
    "name": "waiting 4 content",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/waiting4content/saopaulo.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/waiting4content/waiting4contentstill1.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/waiting4content/waiting4contentstill4.jpg"
    ],
    "videos": [""],
    "descriptions": "video created for Brunno Silvas curational project and -residency: Parralel Screens",
    "locations": [
      "Hermes Artes Visuais- Sao Paolo(11-12/10)",
      "Porto Vista Hotel- San Diego(11/07-18/08)",
      "Nova- Weimar DE(12/11)"
    ],
    "class": "waiting4content"
  },
  {
    "name": "CLUB TROPICANA",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/pool2.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/pool.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/installview.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/installview2.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/dj.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/performance.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/foot.jpeg",
      "https://houseofkillingwebsite.s3.amazonaws.com/tropicana/curtain.jpeg"
    ],
    "videos": [],
    "descriptions": "curational project w/ Maansi Jain, featuring Anastasia Muna and Geovanna Gonzalez, Anto Azzopardi, Bad Art Presents: Anna Chotova and Thomas Coates, Clusterduck, Francesco Petruccelli, Hedda Grevle Ottesen, House of Killing feat Esben Holk, Hugo Hutchins, Ida Dorthea Thorrud, Maansi Jain and Lemia Monet. Tunes by NO SHADE’s Grinderteeth (Veslemøy Rustad Holseter), Perifaflex (Nat Assia), Folly Ghost (Tres Folly) with support by Samuel Gieben, Camilla Rae Lutz and Tarrou (Jean-Baptiste Gallon)",
    "locations": ["DADA POST, august 2019, Berlin"],
    "class": "tropicana"
  },
  {
    "name": "Find Me in the Toilet @ Parties",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail1.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail2.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail3.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail4.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail5.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/thumbnail6.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/Screen+Shot+2019-04-04+at+23.29.40.png",
      "https://houseofkillingwebsite.s3.amazonaws.com/makeURLself%40home/Screen+Shot+2019-04-04+at+23.32.42.png"
    ],
    "videos": [],
    "descriptions": "browserbased video interaction created for online exhibition MakeURLself@Home curated by Clusterduck with Hannah Neckel, invited by David Quiles Guillo",
    "locations": ["online w/ Arebyte Gallery, London, 2019"],
    "class": "makeURLself"
  },
  {
    "name": "HELLO AND WELCOME TO THE INTERNET - R U ALSO LOST?",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/socialmediapic.jpg"
    ],
    "videos": [
      "https://www.youtube.com/embed/x_aVRKuPNSE",
      "https://www.youtube.com/embed/hq2SAGP5qfc",
      "https://www.youtube.com/embed/Oga7C6mWRVk",
      "https://www.youtube.com/embed/hFpwEZUt8HI",
      "https://www.youtube.com/embed/29_PaPYisd0",
      "https://www.youtube.com/embed/IOxyd4sb5Yo"
    ],
    "descriptions": "browserbased video tutorials for the lost posthuman",
    "locations": [
      "online w/ www.queertech.io, 2019",
      "solo installation @ artspace Helmut curated by Maeshelle West-Davies, Leipzig 2017",
      "New Museum of Contemporary Art, Bergen 2017"
    ],
    "class": "RUALSOLOST"
  },
  {
    "name": "SEXY HOUSE",
    "images": ["https://houseofkillingwebsite.s3.amazonaws.com/sexy.png"],
    "videos": [
      "https://www.youtube.com/embed/n2Agj_gygKQ",
      "https://www.youtube.com/embed/xM6DBRav_zQ"
    ],
    "descriptions": "video",
    "locations": [
      "presented as My Body is a (virtual)-/Wonderland @ Peripheral Forms Cyborg Show, online 2018, curated by Jah Justice",
      "presented as The Infestation of Aniston, Performance @ panke.gallery , june 2018, Berlin",
      "created for Insolence: The prerogative of youth, curated by Howard McCaleb, DADA POST 2018"
    ],
    "class": "SexyHouse"
  },
  {
    "name": "Let me tell u about the time I got the cosmos fucked out of me",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page1.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page2.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page3.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page4.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page5.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page6.jpg",
      "https://houseofkillingwebsite.s3.amazonaws.com/queermyth/page7.jpg"
    ],
    "videos": [],
    "descriptions": "digital collage 2018",
    "locations": [
      "made for Pornceptual Magazine 2018",
      "presented with Strangelove Festival 2018",
      "Thessaloniki Queer Arts Festival 2018",
      "ErotikAfton w/ Fennek Film 2019"
    ],
    "class": "cosmos"
  },
  {
    "name": "#PACKYOURSTUFF gif archive",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/packyourstuff/11.gif",
      "https://houseofkillingwebsite.s3.amazonaws.com/packyourstuff/13.gif",
      "https://houseofkillingwebsite.s3.amazonaws.com/packyourstuff/23.gif",
      "https://houseofkillingwebsite.s3.amazonaws.com/packyourstuff/26.gif",
      "https://houseofkillingwebsite.s3.amazonaws.com/packyourstuff/5.gif"
    ],
    "videos": [],
    "descriptions": "gif archive in 3 parts: 1) #OhShitNoWiFi, 2) #TheEndIsNear, 3) #ToTheStars",
    "locations": [
      "@ www.offsiteproject.org/ZIP, download exhibition curated by Clusterduck and Wade Wallerstein, 2019"
    ],
    "class": "packyourstuff"
  },
  {
    "name": "Cybopticon.life",
    "images": [
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/_MG_0877.JPG",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/_MG_0866.JPG",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/_MG_0863.JPG",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/_MG_0870.JPG",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/Screen+Shot+2018-02-17+at+16.01.03.png",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/IMG_1150.JPG",
      "https://houseofkillingwebsite.s3.amazonaws.com/cybopticon/IMG_1200.JPG"
    ],
    "videos": ["https://www.youtube.com/embed/iBbRO0UTMOY"],
    "descriptions": "performance installation w/ Lena Chen and Stephanie Ballentine",
    "locations": [
      "developed as We Play 4 U Now @ FKK kollectiv Berlin",
      "presented w/ Feedback#2 Marshall McLuhan and the Arts, @Eigen+Art Lab Berlin, curated by Baruch Gottlieb 2017"
    ],
    "class": "cybopticon"
  }
]

import * as THREE from '/three/build/three.module.js';
import { PointerLockControls } from '/three/examples/jsm/controls/PointerLockControls.js';


		var camera, scene, renderer, controls, group;

		var objects = [];
		let movingtext = [];

		var raycaster;

		var moveForward = false;
		var moveBackward = false;
		var moveLeft = false;
		var moveRight = false;
		var canJump = false;

		var prevTime = performance.now();
		var velocity = new THREE.Vector3();
		var direction = new THREE.Vector3();
		var vertex = new THREE.Vector3();
		var color = new THREE.Color();

        let images = [];

        let imagearrays = [];
        for (var i = 0; i < data.length; i++) {
            imagearrays.push(data[i].images);
        }
        imagearrays.forEach(array => {
			for (var i = 0; i < array.length; i++) {
				if(i<3){
					images.push(array[i]);
				}

			}
				// images.push(array[0]);
				// images.push(array[1]);
				// images.push(array[2]);


        });

        let boxes=[];
		init();
		animate();

        function init() {
          //set up textureloader for url texture placement
          const textureLoader = new THREE.TextureLoader();
          textureLoader.crossOrigin = "Anonymous";
          camera = new THREE.PerspectiveCamera(
              75,
              window.innerWidth / window.innerHeight,
              1,
              1000
          );
          camera.position.y = 40;
          scene = new THREE.Scene();
          scene.fog = new THREE.Fog(0x00ff21, 400, 1000);
          var light = new THREE.HemisphereLight(0xeeeeff, 0x777788, 0.75);
          light.position.set(0.5, 1, 0.75);
          scene.add(light);
          controls = new PointerLockControls(camera, document.body);


          var blocker = document.getElementById( 'blocker' );
          var instructions = document.getElementById( 'instructions' );

          instructions.addEventListener( 'click', function () {
              controls.lock();
          }, false );

          controls.addEventListener( 'lock', function () {

              instructions.style.display = 'none';
              blocker.style.display = 'none';

          } );

          controls.addEventListener( 'unlock', function () {

              blocker.style.display = 'block';
              instructions.style.display = '';

          } );
          scene.add(controls.getObject());

          var onKeyDown = function ( event ) {

              switch ( event.keyCode ) {

                  case 38: // up
                  case 87: // w
                      moveForward = true;
                      break;

                  case 37: // left
                  case 65: // a
                      moveLeft = true;
                      break;

                  case 40: // down
                  case 83: // s
                      moveBackward = true;
                      break;

                  case 39: // right
                  case 68: // d
                      moveRight = true;
                      break;

                  case 32: // space
                      if ( canJump === true ) velocity.y += 350;
                      canJump = false;
                      break;

              }

          };

          var onKeyUp = function ( event ) {

              switch ( event.keyCode ) {

                  case 38: // up
                  case 87: // w
                      moveForward = false;
                      break;

                  case 37: // left
                  case 65: // a
                      moveLeft = false;
                      break;

                  case 40: // down
                  case 83: // s
                      moveBackward = false;
                      break;

                  case 39: // right
                  case 68: // d
                      moveRight = false;
                      break;

              }

          };

          document.addEventListener( 'keydown', onKeyDown, false );
          document.addEventListener( 'keyup', onKeyUp, false );
          function createfloor() {
              let ground = new THREE.PlaneGeometry(1000, 1000, 100, 100);
              ground.rotateX(-Math.PI / 2);
              var texture = new THREE.Texture(generateTexture());
              texture.needsUpdate = true; // important!
              var material = new THREE.MeshBasicMaterial({
                  map: texture,
                  overdraw: 0.5
              });
              let floor = new THREE.Mesh(ground, material);
              scene.add(floor);
              function generateTexture() {
                  var size = 20;
                  let floorcolor = document.createElement("canvas");
                  floorcolor.width = size;
                  floorcolor.height = size;
                  // get context
                  var context = floorcolor.getContext("2d");
                  // draw gradient
                  context.rect(0, 0, size, size);
                  var gradient = context.createLinearGradient(0, 0, size, size);
                  gradient.addColorStop(0, "#00ff21"); // light blue
                  gradient.addColorStop(0.6, "#00ffa5"); // dark blue
                  gradient.addColorStop(0.8, "#00ffe6"); // dark blue

                  context.fillStyle = gradient;
                  context.fill();

                  return floorcolor;
              }
          }
          createfloor();

          // objects

          for (let i = 0; i < images.length; i++) {
			   var boxGeometry = new THREE.BoxGeometry(100, 100, 100);
              let boxImage, boxMaterial;
              boxImage = textureLoader.load(images[i]);
              boxMaterial = new THREE.MeshBasicMaterial({
                  map: boxImage
              });
              var box = new THREE.Mesh(boxGeometry, boxMaterial);
			  box.position.y = Math.floor(Math.random() * 20 - 10) * 30;
 			 box.position.x = Math.floor(Math.random() * 20) * 20;
 			 box.position.z = Math.floor(Math.random() * 20 - 10) * 30;
              boxes.push(box);
              scene.add(box);
          }
          renderer = new THREE.WebGLRenderer({
              antialias: true,
              alpha: true
          });
          renderer.setPixelRatio(window.devicePixelRatio);
          renderer.setSize(window.innerWidth, window.innerHeight);
          document.body.appendChild(renderer.domElement);

          //
          window.addEventListener("resize", onWindowResize, false);
        }

        function onWindowResize() {
          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();
          renderer.setSize(window.innerWidth, window.innerHeight);
        }

        function animate() {
          let canvases = document.getElementsByTagName("canvas");
          requestAnimationFrame(animate);
          // raycaster.ray.origin.copy(controls.getObject().position);
          // raycaster.ray.origin.y -= 10;
          // var intersections = raycaster.intersectObjects(objects);
          function createControls() {
              var time = performance.now();
              var delta = (time - prevTime) / 1000;
              velocity.x -= velocity.x * 10.0 * delta;
              velocity.z -= velocity.z * 10.0 * delta;
              velocity.y -= 9.8 * 100.0 * delta; // 100.0 = mass
              direction.z = Number(moveForward) - Number(moveBackward);
              direction.x = Number(moveRight) - Number(moveLeft);
              direction.normalize(); // this ensures consistent movements in all directions
              if (moveForward || moveBackward)
                  velocity.z -= direction.z * 400.0 * delta;
              if (moveLeft || moveRight)
                  velocity.x -= direction.x * 400.0 * delta;

              controls.moveRight(-velocity.x * delta);
              controls.moveForward(-velocity.z * delta);
              controls.getObject().position.y += velocity.y * delta; // new behavior
              if (controls.getObject().position.y < 10) {
                  velocity.y = 0;
                  controls.getObject().position.y = 10;
                  canJump = true;
              }
              prevTime = time;
          }
          createControls();

          for (var i = 0; i < boxes.length; i++) {
              // boxes[i].rotation.y += 0.005;
			  boxes[i].rotation.y += 0.002;
  			boxes[i].rotation.x += 0.002;
			  boxes[i].position.y += 0.002;
			  // if(boxes[i].position.y>=1000){
				//   boxes[i].position.y = -100;
			  // }

          }
          renderer.render(scene, camera);
        }

		</script>
	</body>
</html>
