
<div id="frontpage" >

    <div id="blocker">

        <div id="instructions">
            <h1> hej this isnt open right now, come back tomorrow xx</h1>
        </div>

    </div>
    <div class="project">
        <h1>JENNIFER ANISTON SUPERFANS</h1>

        <a href="/JenniferAnistonSuperfansDigitalTarotLandscape">
        <img class="projectimage" src="aletter4aniston.jpg">
        </a>

        <h1>DIGITAL TAROT LANDSCAPE</h1>
    </div>
    <div class="project">

        <h1>HOUSE OF KILLING</h1>
        <a href="/archive">
        <img class="projectimage" src="aletter4aniston.jpg">
        </a>

        <h1>3D PROJECT ARCHIVE</h1>
    </div>

    <div class="project">
        <h1>EMOJI.CON™️</h1>

        <a href="/emojicon">
        <img class="projectimage" src="aletter4aniston.jpg">
        </a>

        <h1>a neverending emoji narrative</h1>
    </div>





    <script src = '/script.js'></script>
</div>
