
<div id="frontpage" >
    <img id="background" src="screensaver.jpg"/>
    <div id="header">
        <div class="header-container leftleaning">
            <p>HOUSE OF KILLING feat ESBEN HOLK</p>
            <!-- <p>files</p> -->
            </div>
        <div class="header-container rightleaning">
            <p>♽⏂⏁┼⌼⌼⌼</p>
            </div>
    </div>

<!--
    <div id="stayvirtual">
        <div id="blackbox">
            <a id="frontpagetext" href="http://houseofkilling.herokuapp.com/">
            THIS IS A WEBSITE. DONT VISIT IT. RETURN TO HOUSE OF KILLING
            </a>
        </div>
            <video class="frontpagevideo" controls loop autoplay src="https://stayvirtual.s3.amazonaws.com/stayvirtual.mp4"/>
    </div> -->

    <div id="projects">
    <div class="project">
        <a href="/JenniferAnistonSuperfansDigitalTarotLandscape">
        <img class="projectimage" src="desktopicon_anistonsdigitaltarotlandscape.jpg">
        </a>
        <p class="desktop-title">Jennifer Aniston Digital Tarot Landcape™️</a>
    </div>

    <div class="project">
        <a href="/webcamlandscape">
        <img class="projectimage" src="desktopicon_webcamlandscape.png">
        </a>
        <p class="desktop-title">webcam landscape™️</a>
    </div>

    <div class="project">
        <a href="/archive">
        <img class="projectimage" src="desktopicon_houseofkilling.png">
        </a>
        <p class="desktop-title">HOUSE OF KILLING</a>
    </div>

    <div class="project">
        <a href="/emojicon">
        <img class="projectimage" src="desktopicon_emojicon.png">
        </a>
        <p class="desktop-title">emoji-con™️</a>
    </div>

    <div class="project">
        <a href="https://contentredistribution.herokuapp.com/">
        <img class="projectimage" src="desktopicon_contentredistribution.png">
        </a>
        <p class="desktop-title">Content Redistribution</a>
    </div>

    <div class="project">
        <a href="/game">
        <img class="projectimage" src="folder.png">
        </a>
        <p class="desktop-title">projects</a>
    </div>
    </div>




    <script src = '/script.js'></script>
</div>
