
<div id="frontpage" >
    <div class="cover">

        <h1>JENNIFER ANISTON SUPERFANS</h1>
        <div class="coverimage">
        <a href="/3d">
        <img class="coverimage" src="aletter4aniston.jpg">
            <h3> click to enter </h3>
        </div>
        </a>
        <h1>DIGITAL TAROT LANDSCAPE™</h1>

    </div>
        <!-- <div id="ticker1">

        <div class="headlines">
            <a href="/livestream">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker2">
        <div class="headlines">
            <a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/merch">follow the guru</a>
            <a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker3">
        <div class="headlines">
            <a href="/merch">follow the guru</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/merch">follow the guru</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker4">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker5">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker6">
        <div class="headlines">
            <a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">follow the guru</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker7">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker8">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker9">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div> -->



    <script src = '/script.js'></script>
</div>
