
<div id="frontpage" >
    <img id="background" src="screensaver.jpg"/>
    <div id="header">
        <div class="header-container leftleaning">
            <p>HOUSE OF KILLING feat ESBEN HOLK</p>
            </div>
        <div class="header-container rightleaning">
            <p>DISCONNECTED
            </p>
            <img id="battery" src="battery-icon.gif"/>
            <iframe src="https://free.timeanddate.com/clock/i7994rpy/n37/th1/ts1" frameborder="0" width="38" height="18"></iframe>
            <p>⌼⌼</p>
        </div>
    </div>


    <div id="emojiconwindow" class="window invisible ui-widget">
        <div id="emojiconheader" class="windowHeader">
            <div class="buttons">
                <div class="red windowbutton"></div>
                <div class="yellow windowbutton"></div>
                <div class="green windowbutton"></div>
            </div>
            <p class="filename"> EMOJI-CON™️ @ eternal generative emoticon hieroglyphs </p>
        </div>
        <iframe class="file" src="/emojicon"></iframe>
    </div>

    <div id="stayvirtualwindow" class="window invisible ui-widget">
        <div id="stayvirtualheader" class="windowHeader">
            <div class="buttons">
                <div class="red windowbutton"></div>
                <div class="yellow windowbutton"></div>
                <div class="green windowbutton"></div>
            </div>
            <p class="filename"> STAY VIRTUAL™️ @ gif merger of two failed poster concepts</p>
        </div>
        <video class="file" src="https://stayvirtual.s3.amazonaws.com/stayvirtual.mp4" controls autoplay loop></video>
    </div>



    <div id="projects">
    <div class="project">
        <a href="/JenniferAnistonSuperfansDigitalTarotLandscape">
        <img class="projectimage" src="desktopicon_anistonsdigitaltarotlandscape.jpg">
        </a>
        <p class="desktop-title">Jennifer Aniston Digital Tarot Landcape™️</a>
    </div>

    <div class="project">
        <a href="https://www.houseofkilling.com/webcamlandscape">
        <img class="projectimage" src="desktopicon_webcamlandscape.png">
        </a>
        <p class="desktop-title">webcam landscape™️</a>
    </div>

    <div class="project">
        <a href="/archive">
        <img class="projectimage" src="desktopicon_houseofkilling.png">
        </a>
        <p class="desktop-title">HOUSE OF KILLING</a>
    </div>

    <div class="project">
        <a id="stayvirtual">
        <img class="projectimage" src="desktopicon_emojicon.png">
        <p class="desktop-title">STAY VIRTUAL</a>
        </a>
    </div>

    <div class="project">
        <a id="emojicon">
        <img class="projectimage" src="desktopicon_emojicon.png">
        <p class="desktop-title">emoji-con™️</a>
        </a>
    </div>

    <div class="project">
        <a href="https://contentredistribution.herokuapp.com/">
        <img class="projectimage" src="desktopicon_contentredistribution.png">
        </a>
        <p class="desktop-title">Content Redistribution</a>
    </div>

    <div class="project">
        <a href="/game">
        <img class="projectimage" src="folder.png">
        </a>
        <p class="desktop-title">projects</a>
    </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = '/js/desktop-animations.js'></script>
</div>
