<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HOUSE OF KILLING</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="archivestyle.css">
		<style>
			#waitingroom{
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: inline-block;
				z-index: 9;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			#roomregistration{
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			#lounge{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border: 2px solid blue;
			}
			#room-id{
				border: 4px solid rgb(229, 0, 255);
				width: 50%;
				border-radius: 20px;
				font-size: 30px;
				text-align: center;
			}
			#lounge{
				display: none;
			}
			#buttons{
				display: flex;
				white-space: nowrap;
				margin: 10px;
			}
			button{
				background: rgb(229, 0, 255);
				borer: none;
				border-radius: 10%;
				border-radius: 20px;
				font-size: 30px;
			}
			button:focus{
				decoration: none;
				outline: none;
			}
			#container{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;

			}
			video{
				width: 100%;
			}
			.videoelement{
				width: 30%;
			}
			#blocker {
			display: none;
				z-index: 0;
			  position: fixed;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  background-color: rgba(0,20,200,0.5);
			}
			.play{
				position: relative;
				top: 50%;
			}

			#instructions {
				display: none;
			  width: 70%;
			  height: 50%;
			  position: fixed;
			  left: 50%;
			  top: 20%;
			  transform: translateX(-50%);
			  color: white;
			  background-color: rgba(0,20,200,0.5);
			  text-align: center;
			  font-family: Arial;
			  font-size: 1vw;
			  line-height: auto;
			  cursor: pointer;
			}
			.headlines {
	          white-space: nowrap;
	          position: absolute;
	          z-index: 8;
	          font-family: "friends";
	          left: 0;
	        }

	        a {
	          text-decoration: none;
	          color: white;
			  font-size: 40px
	        }

	        a:hover {
	          color: yellow;
	          text-decoration: underline;

	        }


	        .ticker {
	          position: relative;
	          overflow: hidden;
	          height: 50px;

	        }
		</style>
	</head>
	<body>
        <!-- <video id="video" class="video" autoplay></video> -->
		<div id="blocker">
			<div id="instructions">
				welcome to the Webcam Landscape™<br/>
				a HOUSE OF KILLING™ production <br/>

				<span class="play">Click to play</span>
				<br /><br />
				Move: WASD<br/>
				Jump: SPACE<br/>
				Look: MOUSE<br/>
                escape: ESC

			</div>

		</div>
		<div id="waitingroom">
			<div id="roomregistration">
			  <input
				type="text"
				id="room-id"
				value="create or input room-id"
				autocorrect="off"
				autocapitalize="off"
				size="20"
			  />
			<div id="buttons">
				<button id="btn-open-room">Open Room</button>
				<button id="btn-join-room">Join Room</button>
			</div>
			</div>
			<div id="lounge">
				<div id="ticker1" class="ticker">
		        <div class="headlines">
		            <a>💕 wait for your party to arrive</a><a>💕 wait for your party to arrive</a><a>💕 wait for your party to arrive</a><a>💕 wait for your party to arrive</a><a>💕 wait for your party to arrive</a><a>💕 wait for your party to arrive</a>
		        </div>
		        </div>


				<div id="container"></div>
				<div id="ticker2" class="ticker">
		        <div id="3d-toggle" class="headlines">
					 <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a> <a>💕 click here when you have all arrived</a>
		        </div>
		        </div>

			</div>

		</div>








<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
<script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
<script src="webcamlandscapeScript.js" type="module"></script>


	</body>
</html>
