@font-face {
  font-family: "friends";
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot");
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.svg#Gabriel Weiss' Friends Font")
      format("svg");
}
@keyframes gradientAnimator {
  0% {
    background-position: 34% 0%;
  }
  50% {
    background-position: 67% 100%;
  }
  100% {
    background-position: 34% 0%;
  }
}
/* main layout */
:root {
  --headerheight: 20px;
  --sidemargin: 15px;
  --doubleSideMargin: 30px;
  --finderGrey: rgb(237, 237, 237);
  --buttonheight: 10px;
}
body {
  width: 100%;
  box-sizing: border-box;
  background: radial-gradient(
    circle,
    rgba(233, 255, 0, 1) 0%,
    rgba(250, 0, 255, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimator 40s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#frontpage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#background {
  z-index: -999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: fill;
}
#header {
  height: var(--headerheight);
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: var(--finderGrey);
  color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: var(--sidemargin);
  border: 1px black solid;
}
#battery {
  height: 400%;
  margin: -20px;
  z-index: -999;
}
.header-container {
  max-width: 50%;
  display: flex;
  white-space: nowrap;
  letter-spacing: 4px;
  font-size: 10px;
  align-items: center;
}
.rightleaning {
  position: relative;
  right: 0;
  justify-content: flex-end;
  padding-right: var(--doubleSideMargin);
}
p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#projects {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: var(--headerheight);
  margin: 10px;
  z-index: 0;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  object-fit: cover;
  margin: 5px;
}
.projectimage {
  align-self: center;
  width: 100%;
  max-width: 75px;
  height: 75px;
  object-fit: contain;
}
.desktop-title {
  width: 100%;
  font-size: 8px;
  color: white;
  text-align: center;
  /* margin-top: -10px; */
}
#desktop {
  width: 500%;
  height: 500%;
}
/* css for animating application windows */
.invisible {
  display: none;
}
.open {
  display: inline-block;
}
.window {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
  overflow: hidden;
  border: 2px var(--finderGrey) solid;
}
.currentWindow {
  border: 2px blue solid;
  z-index: 999999;
}

.file {
  width: 100%;
  height: 100%;
}
.windowHeader {
  height: var(--headerheight);
  background-color: var(--finderGrey);
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.green {
  background-color: rgb(0, 255, 42);
}
.yellow {
  background-color: rgb(238, 255, 0);
}
.red {
  background-color: rgb(255, 0, 0);
}
.windowbutton {
  border-radius: 50%;
  height: var(--buttonheight);
  width: var(--buttonheight);
  display: flex;
  white-space: nowrap;
}
.filename {
  font-size: 8px;
  width: 100%;
  text-align: center;
}

/* game design */
#blocker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(233, 255, 0, 1) 0%,
    rgba(250, 0, 255, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimator 40s ease infinite;
}

#instructions {
  width: 70%;
  height: 50%;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  line-height: auto;
  cursor: pointer;
}
.play {
  font-size: 30px;
}

/* css for emojicon */
#ticker1 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker2 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker3 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker4 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker5 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker6 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker7 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker8 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker9 {
  position: relative;
  overflow: hidden;
  height: 90px;
}

footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2px;
  z-index: 99999999999999;
}
