@font-face {
  font-family: "friends";
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot");
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.svg#Gabriel Weiss' Friends Font")
      format("svg");
}
@keyframes gradientAnimator {
  0% {
    background-position: 34% 0%;
  }
  50% {
    background-position: 67% 100%;
  }
  100% {
    background-position: 34% 0%;
  }
}
/* main layout */

body {
  box-sizing: border-box;
  background: radial-gradient(
    circle,
    rgba(233, 255, 0, 1) 0%,
    rgba(250, 0, 255, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimator 40s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frontpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10vw;
  left: 0;
}

#frame {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  pointer-events: none;
}
@-webkit-keyframes glow {
  from {
    box-shadow: inset 0 0 50px #ffe900, /* inner white */ inset 20px 0 80px #f0f,
      /* inner left magenta short */ inset -20px 0 80px #0ff,
      /* inner right cyan short */ inset 10px 0 10px #f0f,
      /* inner left magenta broad */ inset -20px 0 3px #0ff,
      /* inner right cyan broad */ 0 0 100px #ffe900,
      /* outer white */ -10px 0 80px #f0f,
      /* outer left magenta */ 10px 0 10px #0ff; /* outer right cyan */
  }
  to {
    box-shadow: inset 0 0 50px #ffe900, /* inner white */ inset 10px 0 10px #f0f,
      /* inner left magenta short */ inset -20px 0 80px #0ff,
      /* inner right cyan short */ inset 20px 0 10px #f0f,
      /* inner left magenta broad */ inset -20px 0 10px #0ff,
      /* inner right cyan broad */ 0 0 10px #ffe900,
      /* outer white */ -10px 0 80px #f0f,
      /* outer left magenta */ 10px 0 10px #0ff; /* outer right cyan */
  }
}
/* general */

h1 {
  font-size: 3vw;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
}
#frontpagetext {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;
}
.frontpagevideo {
  height: 100vh;
  width: 100%;
  filter: hue-rotate(150deg) invert(1);
}
#blocker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(233, 255, 0, 1) 0%,
    rgba(250, 0, 255, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimator 40s ease infinite;
}

/* #instructions {
  width: 70%;
  height: 50%;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  line-height: auto;
  cursor: pointer;
} */
.play {
  font-size: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  border-radius: 20%;
  border: 4px solid white;
  padding: 5px;
  width: 20%;
}
.projectimage {
  align-self: center;
  width: 80%;
  border-radius: 20%;
}
a {
  text-align: center;
}

/* a {
  padding-right: 40px;
  text-decoration: none;
  color: white;
} */

#ticker1 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker2 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker3 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker4 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker5 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker6 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker7 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker8 {
  position: relative;
  overflow: hidden;
  height: 90px;
}
#ticker9 {
  position: relative;
  overflow: hidden;
  height: 90px;
}

footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2px;
  z-index: 99999999999999;
}
